/* EQUIPO */

    .borde{
        border: none;
    }



    .titulin{
        color: $color-titles;
        justify-content: center;
    }
    .subtitulo-equipo{
        color: $color-titles;
        border: 3px solid silver;
    }
    
        .player{
        width: 260px;
        height: 370px;
        text-align: center;
        object-fit: cover;
        }
.container-equipo{
    margin: auto;
}
.botoncito{
    background: $color-bgnav;
}





