/* Header */
.fondo-nav{
    background-image: $color-bgnav;
}

/* Footer */
footer{
    border: solid 3px rgb(205, 202, 184);
    background-color: $color-bgfoo ;
    width: 100%;
    margin-bottom: 0;
    margin-top: 50px;
    position: static ;
    bottom: 0;
    h2{
        display: flex;
        color: $color-titles;
        justify-content: center;
    }
    }

