/* INICIO */
body{
    background-image: $color-bgbody;
    font-family: $esilo-letra;
    text-align: center;
}
.segunda-parte{
    img{ 
        width: 80%;
        display: flex;
        place-items: center;
        text-align: center;
        justify-content: center;
        border: solid 3px $color-bordestadio;
    }
}
.escudos{
    display: flex;
    justify-content: center;
    img{
        border: 3px solid $color-bordestadio;
        transition: all 2s ease;
        width: 75%;
    
            &:hover{
                border: 3px solid $color-bordescudo;
                border-radius: 5px;
                width: 85%;
            }
        }
}
