    /* Para h6 */
    $color-h6: #ffe4c4;
    /* Para titulos y subtitulos */
    $color-titles: #ffffff;
    /* Para BG footer */
    $color-bgfoo: #353535;
    /* Para bordes estadio*/
    $color-bordestadio: #c0c0c0;
    /* Para bordes escudos */
    $color-bordescudo:  #f9b70f;
    /* Gradiente BG nav */
    $color-bgnav: linear-gradient(to right, #00007a , #090808);;
    /* Gradiente BG body */
    $color-bgbody: linear-gradient(to left, #0a0a49 , #050505) ;;
    /* LETRA */
    $esilo-letra: 'Comic Neue', cursive;



    @mixin boton ($bg) {
        display: flex;
        flex-direction: row;
        justify-content: end;
        &__arriba{
            border-radius:5px ;
            background-color: $color-bordestadio ;
        }
        &__letras{
            color: $color-h6;
            text-align: center;
        }
    }
    