* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Para h6 */
/* Para titulos y subtitulos */
/* Para BG footer */
/* Para bordes estadio*/
/* Para bordes escudos */
/* Gradiente BG nav */
/* Gradiente BG body */
/* LETRA */
.boton1, .boton button {
  margin: 10px;
  padding: 10px;
}

/* Header */
.fondo-nav {
  background-image: linear-gradient(to right, #00007a, #090808);
}

/* Footer */
footer {
  border: solid 3px rgb(205, 202, 184);
  background: linear-gradient(to right, #00007a, #090808);
  width: 100%;
  margin-bottom: 0;
  margin-top: 50px;
  position: static;
  bottom: 0;
}
footer h2 {
  display: flex;
  color: #ffffff;
  justify-content: center;
}

/* INICIO */
body {
  background-image: linear-gradient(to left, #0a0a49, #050505);
  font-family: "Comic Neue", cursive;
  font-size: 1.2rem;
  text-align: center;
}

@media (max-width: 576px) {
  .body {
    font-size: 1.4rem;
  }
}
.segunda-parte img {
  width: 80%;
  display: flex;
  place-items: center;
  text-align: center;
  justify-content: center;
  border: solid 3px #c0c0c0;
  max-width: 100%;
}

.escudos {
  display: flex;
  justify-content: center;
}
.escudos img {
  border: 3px solid #c0c0c0;
  transition: all 2s ease;
  width: 75%;
}
.escudos img:hover {
  border: 3px solid #f9b70f;
  border-radius: 5px;
  width: 85%;
}

@media (max-width: 576px) {
  .escudos img {
    border: 3px solid #c0c0c0;
    transition: all 2s ease;
    max-width: 570px;
  }
  .escudos img:hover {
    border: 3px solid #f9b70f;
    border-radius: 5px;
    width: 97%;
  }
}
.boton {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.boton button {
  border-radius: 5px;
  background: linear-gradient(to right, #00007a, #090808);
}
.boton button a {
  color: #ffe4c4;
  text-align: center;
  text-decoration: none;
}

/* EQUIPO */
.borde {
  border: none;
}

.titulin {
  color: #ffffff;
  justify-content: center;
}

.subtitulo-equipo {
  color: #ffffff;
  border: 3px solid silver;
}

.player {
  width: 260px;
  height: 370px;
  text-align: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-equipo {
  margin: auto;
}

.botoncito {
  background: linear-gradient(to right, #00007a, #090808);
}

/* ESTADIO */
.estadio {
  display: flex;
  justify-content: center;
}
.estadio img {
  width: 35%;
  margin: 10px;
  border: 3px solid #c0c0c0;
  transition: all 2s ease;
}
.estadio img:hover {
  border-radius: 500px;
  width: 40%;
  border: #f9b70f 3px solid;
}

@media (max-width: 576px) {
  .estadio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
  }
  .estadio img {
    width: 65%;
    border: 3px solid #c0c0c0;
    transition: all 2s ease;
  }
  .estadio img:hover {
    border-radius: 500px;
    width: 85%;
    border: #f9b70f 3px solid;
  }
}
@media (max-width: 768px) {
  .estadio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
  }
  .estadio img {
    width: 65%;
    border: 3px solid #c0c0c0;
    transition: all 2s ease;
  }
  .estadio img:hover {
    border-radius: 500px;
    width: 85%;
    border: #f9b70f 3px solid;
  }
}
@media (max-width: 992px) {
  .estadio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
  }
  .estadio img {
    width: 65%;
    border: 3px solid #c0c0c0;
    transition: all 2s ease;
  }
  .estadio img:hover {
    border-radius: 500px;
    width: 85%;
    border: #f9b70f 3px solid;
  }
}
/* ICONOS */
h6 {
  color: #ffe4c4;
  font-size: 0.8rem;
  text-align: center;
}

/* LOGROS */
.trophy {
  width: 500px;
  border: 3px solid #f9b70f;
  transition: all 3s ease;
  margin: 8px;
}
.trophy:hover {
  border-radius: 250px;
}/*# sourceMappingURL=estilo.css.map */