*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to left, rgb(10, 10, 73) , rgb(5, 5, 5)) ;
}

.fondo-nav{
    background-image: linear-gradient(to right, rgb(0, 0, 122) , rgb(9, 8, 8));
}

.subtitulo-equipo{
    color: white;
    border: 3px solid silver;
}
.titulin{
    color: white;
    justify-content: center;
}
.parra{
    text-align: center;
}
.borde{
    border: none;
}
.cuadro{
    border: 3px solid silver;
}



/* INICIO */
.segunda-parte img{ 
    width: 80%;
    display: flex;
    place-items: center;
    text-align: center;
    justify-content: center;
    border: solid 3px silver;
}
.escudos{
    display: flex;
    justify-content: center;

}
.escudos img{
    border: 3px solid silver;
    transition: all 2s ease;
    width: 75%;
}
.escudos img:hover{
    border: 3px solid rgb(249, 183, 15);
    border-radius: 5px;
    width: 85%;
}

/* ESTADIO */
.estadio{
    display: flex;
    justify-content: center;
}
.estadio img{
    width: 35%;
    margin: 10px;
    border: 3px solid silver;
    transition: all 2s ease;

}

.estadio img:hover {
    border-radius: 500px;
    width: 40%;
}

/* LOGROS */
.trophy{
    width: 500px;
    border: 3px solid silver;
    transition: all 3s ease;
    margin: 8px;
}
.trophy:hover{
    border-radius: 250px;
}

/* ICONOS */
h6{
    color: bisque;
    font-size: .8rem;
    text-align: center;
}



/* Footer */
footer{
    border: solid 3px rgb(205, 202, 184);
    background-color: rgb(53, 53, 53);
    width: 100%;
    margin-bottom: 0;
    margin-top: 50px;
    position: static ;
    bottom: 0;
    
    }
    footer h2{
        display: flex;
        color: white;
        justify-content: center;
    }

